html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	color: #555;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
}

div.content {
	margin-left: 10%;
}

div.footer {
	margin-top: 7%;
	margin-bottom: 3%;
	clear: both;
}

h1 {
	text-align: center;
}

div.row {
	clear: both;
	padding-top: 5px;
}

span.label {
	margin-right: 10px;
}

span.help-text {
	padding-left: 10px;
	font-style: italic;
}

div.row span.label {
	float: left;
	width: 10%;
	text-align: right;
}

div.button {
	margin-top: 10px;
	width: 10%;
	text-align: right;
	float: left;
	margin-right: 10px;
}

div.reset-btn {
	margin-top: 10px;
	width: 10%;
	float: left;
}

select {
	width: 153px;
}

.menu {
	margin-top: 10px;
}

.menu ul {
	
}

.menu li {
	display: table-cell;
	list-style-image: none;
	list-style-type: none;
	padding-right: 20px;
}

.menu a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.menu a:VISITED {
	font-weight: bold;
	color: black;
}

.menu a:hover {
	font-weight: bold;
	color: gray;
	text-decoration: underline;
}

table.policies th {
	border-bottom-style: solid;
	padding-left: 1em;
	text-align: right;
}

table.policies td {
	border-bottom-style: inset;
	border-bottom-width: thin;
	padding-right: 1em;
}

table.policies input {
	margin: 0px;
}